* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  /* scaling everything down */
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

header,
header h2 {
  font-size: 2rem;
  color: white;
  /*  */
  /* position: absolute; */
  /* margin: auto; */

  /*  */
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  /* margin: auto; */
}

form input,
form button,
.todo-list-trash-btn {
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
  background: white;
  outline: none;
}

form button,
.todo-list-trash-btn {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover,
.fa-sort-down:hover,
.fa-sort-up:hover,
.todo-list-trash-btn:hover {
  background: #ff6f47;
  color: white;
}

/* .todo-list-items {
  list-style: none;
  background-color: olive;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 34.5rem;
} */

/* .todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
} */

/* .todo li {
  flex: 1;
} */

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  min-height: 100%;
}

.complete-btn {
  background: rgb(81, 156, 121);
}

.trash-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .todo-item {
  padding: 0rem 0.5rem;
} */

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  /* background-color: blue; */
  /* max-width: fit-content; */
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 8rem;
  height: 3.2rem;
  text-align: center;
  /* padding: 0.5rem; */
  /* font-size: 1rem; */
}

/* Custom Select */
.select {
  /* background-color: olive; */
  padding-left: 0.2rem;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  display: inline-flex;
  width: 11rem;
  font-size: 1.3rem;
  /* padding-left: 1rem; */
  /* max-height: fit-content; */
}

/* select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  min-width: fit-content;
} */

option {
  /* background-color: blue; */
  font-size: 1.3rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  /* border-top-right-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
  color: white;
  font-size: 1rem;
}
.select-drop-down {
  /* height: 3.2rem;
  padding: 0.5rem;
  font-size: 1.3rem; */
}

/* ************** */
.todo-list {
  /* background-color: olive; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  margin: auto;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.create-list-form {
  /* background-color: tomato; */
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
  min-height: fit-content;
  min-width: fit-content;
}

.due-date-picker-container {
  /* display: block; */
  /* position: absolute; */
  /* bottom: 20; */
  width: 100%;
  display: inline-flex;
  align-items: center;
  /* gap: 0.5rem; */
}
.due-date-picker {
  /* background-color: olive; */
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  width: 18.5rem;
  color: grey;
}

/* calendar-icon container - to change background color to white for the check mark to appear white  */
.fa-calendar-check-background {
  font-size: 3rem;

  background-color: white;
  position: relative;
  top: 1.9rem;
  left: 0.4rem;
  width: 2.3rem;
  color: white;
  z-index: -1;
  font-size: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
}
/* calendar-icon  */
.fa-calendar-check {
  /* background-color: white; */
  display: block;
  font-size: 3.2rem;
  color: #ff6f47;
  position: relative;
  left: 0.1rem;
  bottom: 1rem;
}
.create-list-form-button {
  /* background-color: yellow; */
  max-height: fit-content;
  font-size: 1.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-input {
  /* background-color: salmon; */
  /* max-width: 10rem; */
  font-size: 1.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.todos-list-container {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  /*  */
  box-shadow: 0px 0px 94px -52px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 0px 94px -52px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 94px -52px rgba(0, 0, 0, 0.46);
  /*  */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* width: fit-content; */
  padding: 1rem;
  border-radius: 5px;
  margin: auto;
}

.list-header {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
/* list name and date */
.top {
  /* background-color: olive; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: white;
}
/* List name */
.top b {
  /* background-color: yellow; */
  font-weight: 500;
}
/* List Date */
.top span {
  /* background-color: yellowgreen; */
  font-size: 1.3rem;
  color: rgb(81, 156, 121);
  /* background-color: #ee872762; */
  width: 18rem;
  display: inline-flex;
  justify-content: space-between;
}

/* Due date */
.top span + span::before {
  content: "List Due Date:";
  margin-right: 0.5rem;
  font-size: 1.3rem;
  color: rgb(81, 156, 121);
}
.top span::before {
  content: "List Created on:";
  margin-right: 0.5rem;
  color: rgb(81, 156, 121);
  font-size: 1.3rem;
}
.todo-list-trash-btn {
  border-radius: 5px;
  height: fit-content;
  font-size: 1.5rem;
  /* background-color: #f6d365; */
}

.list-actions {
  /* background-color: aqua; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.task {
  /* display: flex; */
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: #ff6f47;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  /* min-width: 43rem; */
  /* min-width: 100%; */
  padding-left: 1rem;
  /* background-color: #f6d365; */
  /* padding-bottom: 0.2rem; */
  /* padding-right: 0.2rem; */
  /* min-height: fit-content; */
  /* padding: 0rem 0rem 0.2rem; */
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: rgb(30, 100, 30);
}

.tasks {
  list-style: none;
  /* background-color: olive; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;

  /* min-width: 34.5rem; */
}

.list-form {
  /* background-color: green; */
  min-height: fit-content;
  /* display: inline-flex; */
}

.list-form button {
  font-size: 1.5rem;
  min-height: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* background-color: green; */
}
.list-form i {
  font-size: 1.5rem;

  /* background-color: #f6d365; */
}
.list-form input {
  /* background-color: green; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.5rem;
}
.filter-todo {
  padding: 1rem;
}
.select {
  /* background-color: yellow; */
}

.fa-plus-square {
  /* background-color: green; */
  font-size: 2rem;
}
